[Unit]
Description= Cloud-native high-performance edge/middle/service proxy (Envoy)
Documentation=https://www.envoyproxy.io
Requires=network.target remote-fs.target
After=network.target remote-fs.target

[Service]
Type=simple
User=root
Group=${SERVICE_GROUP}
EnvironmentFile=${ENVOY_SYSCONFIG}
ExecStart=${ENVOY_SERVER} -c ${ENVOY_CONFIG_FILE} --log-path ${ENVOY_LOGGING_ACCESS_FILE}
Restart=on-failure
WorkingDirectory=${SERVICE_WORKING_FOLDER}
ExecStartPre=/usr/bin/touch ${ENVOY_LOGGING_ACCESS_FILE}
ExecStartPre=/usr/bin/mkdir -p ${ENOVY_HOME_DIR}
ExecStartPre=/usr/bin/mkdir -p ${ENVOY_LOG_DIR}
ExecStartPre=/usr/bin/mkdir -p ${ENVOY_DATA_DIR}

[Install]
WantedBy=multi-user.target