[Unit]
Description=Mosquitto MQTT v3.1/v3.1.1 Broker
Documentation=https://github.com/eclipse/mosquitto
Requires=network.target remote-fs.target
After=network.target remote-fs.target
ConditionPathExists=${MOSQUITTO_LOGS_PATH}

[Service]
Type=simple
User=${SERVICE_USER}
Group=${SERVICE_GROUP}
Restart=on-failure
#EnvironmentFile=${MOSQUITTO_SYSCONFIG}
ExecStart=${MOSQUITTO_SERVER} -c ${MOSQUITTO_CONF_FILE}
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
